dependency-reduced-pom.xml
.buildpath
.classpath
.project
.settings
*.db
*.tmp
.out_test*

*venv
*.pyc

*.class
*.ServerPlugin
*~
data/*
target

# Package Files #
#*.jar
*.war
*.ear

.DS_Store
neo4j-community-1.9.5
neo4j-community-1.9.5-unix.tar.gz
*.tgz
ott
aster
.running
